*{
    font-family:"Comic Sans MS", cursive, sans-serif;
}
body{
    background: #fff;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
    font-weight: bolder;
}

#mainDiv{
    /*width: 25%;*/
    width: 350px;
    height: 600px;
    margin: 0 auto;
    border:1px solid lightgrey;
    /*text-align: center;*/
    padding: 5px;
    border-radius:10px;
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.3);

}

#mainInput{
    width: 95%;
    padding: 10px;
    background:white;
    font-size:16pt;
    font-weight:bold;
    resize: none;
    border:1px solid #eee;
    border-radius: 10px;
}

.btnClass{
    /*border:1px solid red;*/
    width: 50%;
    padding: 10px;
    margin: 20px 0;
    display: inline-block;
    /*float: left;*/
}

.btns{
    padding: 15px;
    font-size: 20pt;
    width: 30%;
    height: 70px;
    /*border: 1px solid #4285f4!important;
    color: #4285f4!important;*/
    background-color: transparent;
    border:1px solid lightgray;
    color:grey;
    margin:2px;
    border-radius: 50%;
}

#divOperators{
    /*border:1px solid blue;*/
    width:150px;
    position: absolute;
}